# Operating System
.DS_Store
Thumbs.db

# Runtime
.wrangler

# Environment
.env

# Dependencies
node_modules

# Nx
.nx

# SvelteKit
.svelte-kit

# Vitest
coverage

# Alchemy
.alchemy

# Build
*.tsbuildinfo
dist
