name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Type check
        run: bun typecheck

      - name: Lint check
        run: bun lint:check

      - name: Format check
        run: bun format:check

      - name: Run tests
        run: bun test:all

      - name: Build Platform SDK
        run: bun build:platform
