name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Check types
        run: bun typecheck

      - name: Check formatting
        run: bun oxfmt --check -c ./oxfmt.jsonc

      - name: Run tests
        run: bun test
